* {box-sizing:border-box}
.container {
  width: 100%;
  background-color: White
}
.goals {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.Feature1_0 {width: 0%; background-color: #04AA6D;}
.Feature1_1 {width: 1%; background-color: #04AA6D;}
.Feature1_2 {width: 2%; background-color: #04AA6D;}
.Feature1_3 {width: 3%; background-color: #04AA6D;}
.Feature1_4 {width: 4%; background-color: #04AA6D;}
.Feature1_5 {width: 5%; background-color: #04AA6D;}
.Feature1_6 {width: 6%; background-color: #04AA6D;}
.Feature1_7 {width: 7%; background-color: #04AA6D;}
.Feature1_8 {width: 8%; background-color: #04AA6D;}
.Feature1_9 {width: 9%; background-color: #04AA6D;}
.Feature1_10 {width: 10%; background-color: #04AA6D;}
.Feature1_11 {width: 11%; background-color: #04AA6D;}
.Feature1_12 {width: 12%; background-color: #04AA6D;}
.Feature1_13 {width: 13%; background-color: #04AA6D;}
.Feature1_14 {width: 14%; background-color: #04AA6D;}
.Feature1_15 {width: 15%; background-color: #04AA6D;}
.Feature1_16 {width: 16%; background-color: #04AA6D;}
.Feature1_17 {width: 17%; background-color: #04AA6D;}
.Feature1_18 {width: 18%; background-color: #04AA6D;}
.Feature1_19 {width: 19%; background-color: #04AA6D;}
.Feature1_20 {width: 20%; background-color: #04AA6D;}
.Feature1_21 {width: 21%; background-color: #04AA6D;}
.Feature1_22 {width: 22%; background-color: #04AA6D;}
.Feature1_23 {width: 23%; background-color: #04AA6D;}
.Feature1_24 {width: 24%; background-color: #04AA6D;}
.Feature1_25 {width: 25%; background-color: #04AA6D;}
.Feature1_26 {width: 26%; background-color: #04AA6D;}
.Feature1_27 {width: 27%; background-color: #04AA6D;}
.Feature1_28 {width: 28%; background-color: #04AA6D;}
.Feature1_29 {width: 29%; background-color: #04AA6D;}
.Feature1_30 {width: 30%; background-color: #04AA6D;}
.Feature1_31 {width: 31%; background-color: #04AA6D;}
.Feature1_32 {width: 32%; background-color: #04AA6D;}
.Feature1_33 {width: 33%; background-color: #04AA6D;}
.Feature1_34 {width: 34%; background-color: #04AA6D;}
.Feature1_35 {width: 35%; background-color: #04AA6D;}
.Feature1_36 {width: 36%; background-color: #04AA6D;}
.Feature1_37 {width: 37%; background-color: #04AA6D;}
.Feature1_38 {width: 38%; background-color: #04AA6D;}
.Feature1_39 {width: 39%; background-color: #04AA6D;}
.Feature1_40 {width: 40%; background-color: #04AA6D;}
.Feature1_41 {width: 41%; background-color: #04AA6D;}
.Feature1_42 {width: 42%; background-color: #04AA6D;}
.Feature1_43 {width: 43%; background-color: #04AA6D;}
.Feature1_44 {width: 44%; background-color: #04AA6D;}
.Feature1_45 {width: 45%; background-color: #04AA6D;}
.Feature1_46 {width: 46%; background-color: #04AA6D;}
.Feature1_47 {width: 47%; background-color: #04AA6D;}
.Feature1_48 {width: 48%; background-color: #04AA6D;}
.Feature1_49 {width: 49%; background-color: #04AA6D;}
.Feature1_50 {width: 50%; background-color: #04AA6D;}
.Feature1_51 {width: 51%; background-color: #04AA6D;}
.Feature1_52 {width: 52%; background-color: #04AA6D;}
.Feature1_53 {width: 53%; background-color: #04AA6D;}
.Feature1_54 {width: 54%; background-color: #04AA6D;}
.Feature1_55 {width: 55%; background-color: #04AA6D;}
.Feature1_56 {width: 56%; background-color: #04AA6D;}
.Feature1_57 {width: 57%; background-color: #04AA6D;}
.Feature1_58 {width: 58%; background-color: #04AA6D;}
.Feature1_59 {width: 59%; background-color: #04AA6D;}
.Feature1_60 {width: 60%; background-color: #04AA6D;}
.Feature1_61 {width: 61%; background-color: #04AA6D;}
.Feature1_62 {width: 62%; background-color: #04AA6D;}
.Feature1_63 {width: 63%; background-color: #04AA6D;}
.Feature1_64 {width: 64%; background-color: #04AA6D;}
.Feature1_65 {width: 65%; background-color: #04AA6D;}
.Feature1_66 {width: 66%; background-color: #04AA6D;}
.Feature1_67 {width: 67%; background-color: #04AA6D;}
.Feature1_68 {width: 68%; background-color: #04AA6D;}
.Feature1_69 {width: 69%; background-color: #04AA6D;}
.Feature1_70 {width: 70%; background-color: #04AA6D;}
.Feature1_71 {width: 71%; background-color: #04AA6D;}
.Feature1_72 {width: 72%; background-color: #04AA6D;}
.Feature1_73 {width: 73%; background-color: #04AA6D;}
.Feature1_74 {width: 74%; background-color: #04AA6D;}
.Feature1_75 {width: 75%; background-color: #04AA6D;}
.Feature1_76 {width: 76%; background-color: #04AA6D;}
.Feature1_77 {width: 77%; background-color: #04AA6D;}
.Feature1_78 {width: 78%; background-color: #04AA6D;}
.Feature1_79 {width: 79%; background-color: #04AA6D;}
.Feature1_80 {width: 80%; background-color: #04AA6D;}
.Feature1_81 {width: 81%; background-color: #04AA6D;}
.Feature1_82 {width: 82%; background-color: #04AA6D;}
.Feature1_83 {width: 83%; background-color: #04AA6D;}
.Feature1_84 {width: 84%; background-color: #04AA6D;}
.Feature1_85 {width: 85%; background-color: #04AA6D;}
.Feature1_86 {width: 86%; background-color: #04AA6D;}
.Feature1_87 {width: 87%; background-color: #04AA6D;}
.Feature1_88 {width: 88%; background-color: #04AA6D;}
.Feature1_89 {width: 89%; background-color: #04AA6D;}
.Feature1_90 {width: 90%; background-color: #04AA6D;}
.Feature1_91 {width: 91%; background-color: #04AA6D;}
.Feature1_92 {width: 92%; background-color: #04AA6D;}
.Feature1_93 {width: 93%; background-color: #04AA6D;}
.Feature1_94 {width: 94%; background-color: #04AA6D;}
.Feature1_95 {width: 95%; background-color: #04AA6D;}
.Feature1_96 {width: 96%; background-color: #04AA6D;}
.Feature1_97 {width: 97%; background-color: #04AA6D;}
.Feature1_98 {width: 98%; background-color: #04AA6D;}
.Feature1_99 {width: 99%; background-color: #04AA6D;}
.Feature1_100 {width: 100%; background-color: #04AA6D;}

.Feature2_0 {width: 0%; background-color: #2196F3;}
.Feature2_1 {width: 1%; background-color: #2196F3;}
.Feature2_2 {width: 2%; background-color: #2196F3;}
.Feature2_3 {width: 3%; background-color: #2196F3;}
.Feature2_4 {width: 4%; background-color: #2196F3;}
.Feature2_5 {width: 5%; background-color: #2196F3;}
.Feature2_6 {width: 6%; background-color: #2196F3;}
.Feature2_7 {width: 7%; background-color: #2196F3;}
.Feature2_8 {width: 8%; background-color: #2196F3;}
.Feature2_9 {width: 9%; background-color: #2196F3;}
.Feature2_10 {width: 10%; background-color: #2196F3;}
.Feature2_11 {width: 11%; background-color: #2196F3;}
.Feature2_12 {width: 12%; background-color: #2196F3;}
.Feature2_13 {width: 13%; background-color: #2196F3;}
.Feature2_14 {width: 14%; background-color: #2196F3;}
.Feature2_15 {width: 15%; background-color: #2196F3;}
.Feature2_16 {width: 16%; background-color: #2196F3;}
.Feature2_17 {width: 17%; background-color: #2196F3;}
.Feature2_18 {width: 18%; background-color: #2196F3;}
.Feature2_19 {width: 19%; background-color: #2196F3;}
.Feature2_20 {width: 20%; background-color: #2196F3;}
.Feature2_21 {width: 21%; background-color: #2196F3;}
.Feature2_22 {width: 22%; background-color: #2196F3;}
.Feature2_23 {width: 23%; background-color: #2196F3;}
.Feature2_24 {width: 24%; background-color: #2196F3;}
.Feature2_25 {width: 25%; background-color: #2196F3;}
.Feature2_26 {width: 26%; background-color: #2196F3;}
.Feature2_27 {width: 27%; background-color: #2196F3;}
.Feature2_28 {width: 28%; background-color: #2196F3;}
.Feature2_29 {width: 29%; background-color: #2196F3;}
.Feature2_30 {width: 30%; background-color: #2196F3;}
.Feature2_31 {width: 31%; background-color: #2196F3;}
.Feature2_32 {width: 32%; background-color: #2196F3;}
.Feature2_33 {width: 33%; background-color: #2196F3;}
.Feature2_34 {width: 34%; background-color: #2196F3;}
.Feature2_35 {width: 35%; background-color: #2196F3;}
.Feature2_36 {width: 36%; background-color: #2196F3;}
.Feature2_37 {width: 37%; background-color: #2196F3;}
.Feature2_38 {width: 38%; background-color: #2196F3;}
.Feature2_39 {width: 39%; background-color: #2196F3;}
.Feature2_40 {width: 40%; background-color: #2196F3;}
.Feature2_41 {width: 41%; background-color: #2196F3;}
.Feature2_42 {width: 42%; background-color: #2196F3;}
.Feature2_43 {width: 43%; background-color: #2196F3;}
.Feature2_44 {width: 44%; background-color: #2196F3;}
.Feature2_45 {width: 45%; background-color: #2196F3;}
.Feature2_46 {width: 46%; background-color: #2196F3;}
.Feature2_47 {width: 47%; background-color: #2196F3;}
.Feature2_48 {width: 48%; background-color: #2196F3;}
.Feature2_49 {width: 49%; background-color: #2196F3;}
.Feature2_50 {width: 50%; background-color: #2196F3;}
.Feature2_51 {width: 51%; background-color: #2196F3;}
.Feature2_52 {width: 52%; background-color: #2196F3;}
.Feature2_53 {width: 53%; background-color: #2196F3;}
.Feature2_54 {width: 54%; background-color: #2196F3;}
.Feature2_55 {width: 55%; background-color: #2196F3;}
.Feature2_56 {width: 56%; background-color: #2196F3;}
.Feature2_57 {width: 57%; background-color: #2196F3;}
.Feature2_58 {width: 58%; background-color: #2196F3;}
.Feature2_59 {width: 59%; background-color: #2196F3;}
.Feature2_60 {width: 60%; background-color: #2196F3;}
.Feature2_61 {width: 61%; background-color: #2196F3;}
.Feature2_62 {width: 62%; background-color: #2196F3;}
.Feature2_63 {width: 63%; background-color: #2196F3;}
.Feature2_64 {width: 64%; background-color: #2196F3;}
.Feature2_65 {width: 65%; background-color: #2196F3;}
.Feature2_66 {width: 66%; background-color: #2196F3;}
.Feature2_67 {width: 67%; background-color: #2196F3;}
.Feature2_68 {width: 68%; background-color: #2196F3;}
.Feature2_69 {width: 69%; background-color: #2196F3;}
.Feature2_70 {width: 70%; background-color: #2196F3;}
.Feature2_71 {width: 71%; background-color: #2196F3;}
.Feature2_72 {width: 72%; background-color: #2196F3;}
.Feature2_73 {width: 73%; background-color: #2196F3;}
.Feature2_74 {width: 74%; background-color: #2196F3;}
.Feature2_75 {width: 75%; background-color: #2196F3;}
.Feature2_76 {width: 76%; background-color: #2196F3;}
.Feature2_77 {width: 77%; background-color: #2196F3;}
.Feature2_78 {width: 78%; background-color: #2196F3;}
.Feature2_79 {width: 79%; background-color: #2196F3;}
.Feature2_80 {width: 80%; background-color: #2196F3;}
.Feature2_81 {width: 81%; background-color: #2196F3;}
.Feature2_82 {width: 82%; background-color: #2196F3;}
.Feature2_83 {width: 83%; background-color: #2196F3;}
.Feature2_84 {width: 84%; background-color: #2196F3;}
.Feature2_85 {width: 85%; background-color: #2196F3;}
.Feature2_86 {width: 86%; background-color: #2196F3;}
.Feature2_87 {width: 87%; background-color: #2196F3;}
.Feature2_88 {width: 88%; background-color: #2196F3;}
.Feature2_89 {width: 89%; background-color: #2196F3;}
.Feature2_90 {width: 90%; background-color: #2196F3;}
.Feature2_91 {width: 91%; background-color: #2196F3;}
.Feature2_92 {width: 92%; background-color: #2196F3;}
.Feature2_93 {width: 93%; background-color: #2196F3;}
.Feature2_94 {width: 94%; background-color: #2196F3;}
.Feature2_95 {width: 95%; background-color: #2196F3;}
.Feature2_96 {width: 96%; background-color: #2196F3;}
.Feature2_97 {width: 97%; background-color: #2196F3;}
.Feature2_98 {width: 98%; background-color: #2196F3;}
.Feature2_99 {width: 99%; background-color: #2196F3;}
.Feature2_100 {width: 100%; background-color: #2196F3;}

.Feature3_0 {width: 0%; background-color: #f44336;}
.Feature3_1 {width: 1%; background-color: #f44336;}
.Feature3_2 {width: 2%; background-color: #f44336;}
.Feature3_3 {width: 3%; background-color: #f44336;}
.Feature3_4 {width: 4%; background-color: #f44336;}
.Feature3_5 {width: 5%; background-color: #f44336;}
.Feature3_6 {width: 6%; background-color: #f44336;}
.Feature3_7 {width: 7%; background-color: #f44336;}
.Feature3_8 {width: 8%; background-color: #f44336;}
.Feature3_9 {width: 9%; background-color: #f44336;}
.Feature3_10 {width: 10%; background-color: #f44336;}
.Feature3_11 {width: 11%; background-color: #f44336;}
.Feature3_12 {width: 12%; background-color: #f44336;}
.Feature3_13 {width: 13%; background-color: #f44336;}
.Feature3_14 {width: 14%; background-color: #f44336;}
.Feature3_15 {width: 15%; background-color: #f44336;}
.Feature3_16 {width: 16%; background-color: #f44336;}
.Feature3_17 {width: 17%; background-color: #f44336;}
.Feature3_18 {width: 18%; background-color: #f44336;}
.Feature3_19 {width: 19%; background-color: #f44336;}
.Feature3_20 {width: 20%; background-color: #f44336;}
.Feature3_21 {width: 21%; background-color: #f44336;}
.Feature3_22 {width: 22%; background-color: #f44336;}
.Feature3_23 {width: 23%; background-color: #f44336;}
.Feature3_24 {width: 24%; background-color: #f44336;}
.Feature3_25 {width: 25%; background-color: #f44336;}
.Feature3_26 {width: 26%; background-color: #f44336;}
.Feature3_27 {width: 27%; background-color: #f44336;}
.Feature3_28 {width: 28%; background-color: #f44336;}
.Feature3_29 {width: 29%; background-color: #f44336;}
.Feature3_30 {width: 30%; background-color: #f44336;}
.Feature3_31 {width: 31%; background-color: #f44336;}
.Feature3_32 {width: 32%; background-color: #f44336;}
.Feature3_33 {width: 33%; background-color: #f44336;}
.Feature3_34 {width: 34%; background-color: #f44336;}
.Feature3_35 {width: 35%; background-color: #f44336;}
.Feature3_36 {width: 36%; background-color: #f44336;}
.Feature3_37 {width: 37%; background-color: #f44336;}
.Feature3_38 {width: 38%; background-color: #f44336;}
.Feature3_39 {width: 39%; background-color: #f44336;}
.Feature3_40 {width: 40%; background-color: #f44336;}
.Feature3_41 {width: 41%; background-color: #f44336;}
.Feature3_42 {width: 42%; background-color: #f44336;}
.Feature3_43 {width: 43%; background-color: #f44336;}
.Feature3_44 {width: 44%; background-color: #f44336;}
.Feature3_45 {width: 45%; background-color: #f44336;}
.Feature3_46 {width: 46%; background-color: #f44336;}
.Feature3_47 {width: 47%; background-color: #f44336;}
.Feature3_48 {width: 48%; background-color: #f44336;}
.Feature3_49 {width: 49%; background-color: #f44336;}
.Feature3_50 {width: 50%; background-color: #f44336;}
.Feature3_51 {width: 51%; background-color: #f44336;}
.Feature3_52 {width: 52%; background-color: #f44336;}
.Feature3_53 {width: 53%; background-color: #f44336;}
.Feature3_54 {width: 54%; background-color: #f44336;}
.Feature3_55 {width: 55%; background-color: #f44336;}
.Feature3_56 {width: 56%; background-color: #f44336;}
.Feature3_57 {width: 57%; background-color: #f44336;}
.Feature3_58 {width: 58%; background-color: #f44336;}
.Feature3_59 {width: 59%; background-color: #f44336;}
.Feature3_60 {width: 60%; background-color: #f44336;}
.Feature3_61 {width: 61%; background-color: #f44336;}
.Feature3_62 {width: 62%; background-color: #f44336;}
.Feature3_63 {width: 63%; background-color: #f44336;}
.Feature3_64 {width: 64%; background-color: #f44336;}
.Feature3_65 {width: 65%; background-color: #f44336;}
.Feature3_66 {width: 66%; background-color: #f44336;}
.Feature3_67 {width: 67%; background-color: #f44336;}
.Feature3_68 {width: 68%; background-color: #f44336;}
.Feature3_69 {width: 69%; background-color: #f44336;}
.Feature3_70 {width: 70%; background-color: #f44336;}
.Feature3_71 {width: 71%; background-color: #f44336;}
.Feature3_72 {width: 72%; background-color: #f44336;}
.Feature3_73 {width: 73%; background-color: #f44336;}
.Feature3_74 {width: 74%; background-color: #f44336;}
.Feature3_75 {width: 75%; background-color: #f44336;}
.Feature3_76 {width: 76%; background-color: #f44336;}
.Feature3_77 {width: 77%; background-color: #f44336;}
.Feature3_78 {width: 78%; background-color: #f44336;}
.Feature3_79 {width: 79%; background-color: #f44336;}
.Feature3_80 {width: 80%; background-color: #f44336;}
.Feature3_81 {width: 81%; background-color: #f44336;}
.Feature3_82 {width: 82%; background-color: #f44336;}
.Feature3_83 {width: 83%; background-color: #f44336;}
.Feature3_84 {width: 84%; background-color: #f44336;}
.Feature3_85 {width: 85%; background-color: #f44336;}
.Feature3_86 {width: 86%; background-color: #f44336;}
.Feature3_87 {width: 87%; background-color: #f44336;}
.Feature3_88 {width: 88%; background-color: #f44336;}
.Feature3_89 {width: 89%; background-color: #f44336;}
.Feature3_90 {width: 90%; background-color: #f44336;}
.Feature3_91 {width: 91%; background-color: #f44336;}
.Feature3_92 {width: 92%; background-color: #f44336;}
.Feature3_93 {width: 93%; background-color: #f44336;}
.Feature3_94 {width: 94%; background-color: #f44336;}
.Feature3_95 {width: 95%; background-color: #f44336;}
.Feature3_96 {width: 96%; background-color: #f44336;}
.Feature3_97 {width: 97%; background-color: #f44336;}
.Feature3_98 {width: 98%; background-color: #f44336;}
.Feature3_99 {width: 99%; background-color: #f44336;}
.Feature3_100 {width: 100%; background-color: #f44336;}


.Feature4_0 {width: 0%; background-color: #808080;}
.Feature4_1 {width: 1%; background-color: #808080;}
.Feature4_2 {width: 2%; background-color: #808080;}
.Feature4_3 {width: 3%; background-color: #808080;}
.Feature4_4 {width: 4%; background-color: #808080;}
.Feature4_5 {width: 5%; background-color: #808080;}
.Feature4_6 {width: 6%; background-color: #808080;}
.Feature4_7 {width: 7%; background-color: #808080;}
.Feature4_8 {width: 8%; background-color: #808080;}
.Feature4_9 {width: 9%; background-color: #808080;}
.Feature4_10 {width: 10%; background-color: #808080;}
.Feature4_11 {width: 11%; background-color: #808080;}
.Feature4_12 {width: 12%; background-color: #808080;}
.Feature4_13 {width: 13%; background-color: #808080;}
.Feature4_14 {width: 14%; background-color: #808080;}
.Feature4_15 {width: 15%; background-color: #808080;}
.Feature4_16 {width: 16%; background-color: #808080;}
.Feature4_17 {width: 17%; background-color: #808080;}
.Feature4_18 {width: 18%; background-color: #808080;}
.Feature4_19 {width: 19%; background-color: #808080;}
.Feature4_20 {width: 20%; background-color: #808080;}
.Feature4_21 {width: 21%; background-color: #808080;}
.Feature4_22 {width: 22%; background-color: #808080;}
.Feature4_23 {width: 23%; background-color: #808080;}
.Feature4_24 {width: 24%; background-color: #808080;}
.Feature4_25 {width: 25%; background-color: #808080;}
.Feature4_26 {width: 26%; background-color: #808080;}
.Feature4_27 {width: 27%; background-color: #808080;}
.Feature4_28 {width: 28%; background-color: #808080;}
.Feature4_29 {width: 29%; background-color: #808080;}
.Feature4_30 {width: 30%; background-color: #808080;}
.Feature4_31 {width: 31%; background-color: #808080;}
.Feature4_32 {width: 32%; background-color: #808080;}
.Feature4_33 {width: 33%; background-color: #808080;}
.Feature4_34 {width: 34%; background-color: #808080;}
.Feature4_35 {width: 35%; background-color: #808080;}
.Feature4_36 {width: 36%; background-color: #808080;}
.Feature4_37 {width: 37%; background-color: #808080;}
.Feature4_38 {width: 38%; background-color: #808080;}
.Feature4_39 {width: 39%; background-color: #808080;}
.Feature4_40 {width: 40%; background-color: #808080;}
.Feature4_41 {width: 41%; background-color: #808080;}
.Feature4_42 {width: 42%; background-color: #808080;}
.Feature4_43 {width: 43%; background-color: #808080;}
.Feature4_44 {width: 44%; background-color: #808080;}
.Feature4_45 {width: 45%; background-color: #808080;}
.Feature4_46 {width: 46%; background-color: #808080;}
.Feature4_47 {width: 47%; background-color: #808080;}
.Feature4_48 {width: 48%; background-color: #808080;}
.Feature4_49 {width: 49%; background-color: #808080;}
.Feature4_50 {width: 50%; background-color: #808080;}
.Feature4_51 {width: 51%; background-color: #808080;}
.Feature4_52 {width: 52%; background-color: #808080;}
.Feature4_53 {width: 53%; background-color: #808080;}
.Feature4_54 {width: 54%; background-color: #808080;}
.Feature4_55 {width: 55%; background-color: #808080;}
.Feature4_56 {width: 56%; background-color: #808080;}
.Feature4_57 {width: 57%; background-color: #808080;}
.Feature4_58 {width: 58%; background-color: #808080;}
.Feature4_59 {width: 59%; background-color: #808080;}
.Feature4_60 {width: 60%; background-color: #808080;}
.Feature4_61 {width: 61%; background-color: #808080;}
.Feature4_62 {width: 62%; background-color: #808080;}
.Feature4_63 {width: 63%; background-color: #808080;}
.Feature4_64 {width: 64%; background-color: #808080;}
.Feature4_65 {width: 65%; background-color: #808080;}
.Feature4_66 {width: 66%; background-color: #808080;}
.Feature4_67 {width: 67%; background-color: #808080;}
.Feature4_68 {width: 68%; background-color: #808080;}
.Feature4_69 {width: 69%; background-color: #808080;}
.Feature4_70 {width: 70%; background-color: #808080;}
.Feature4_71 {width: 71%; background-color: #808080;}
.Feature4_72 {width: 72%; background-color: #808080;}
.Feature4_73 {width: 73%; background-color: #808080;}
.Feature4_74 {width: 74%; background-color: #808080;}
.Feature4_75 {width: 75%; background-color: #808080;}
.Feature4_76 {width: 76%; background-color: #808080;}
.Feature4_77 {width: 77%; background-color: #808080;}
.Feature4_78 {width: 78%; background-color: #808080;}
.Feature4_79 {width: 79%; background-color: #808080;}
.Feature4_80 {width: 80%; background-color: #808080;}
.Feature4_81 {width: 81%; background-color: #808080;}
.Feature4_82 {width: 82%; background-color: #808080;}
.Feature4_83 {width: 83%; background-color: #808080;}
.Feature4_84 {width: 84%; background-color: #808080;}
.Feature4_85 {width: 85%; background-color: #808080;}
.Feature4_86 {width: 86%; background-color: #808080;}
.Feature4_87 {width: 87%; background-color: #808080;}
.Feature4_88 {width: 88%; background-color: #808080;}
.Feature4_89 {width: 89%; background-color: #808080;}
.Feature4_90 {width: 90%; background-color: #808080;}
.Feature4_91 {width: 91%; background-color: #808080;}
.Feature4_92 {width: 92%; background-color: #808080;}
.Feature4_93 {width: 93%; background-color: #808080;}
.Feature4_94 {width: 94%; background-color: #808080;}
.Feature4_95 {width: 95%; background-color: #808080;}
.Feature4_96 {width: 96%; background-color: #808080;}
.Feature4_97 {width: 97%; background-color: #808080;}
.Feature4_98 {width: 98%; background-color: #808080;}
.Feature4_99 {width: 99%; background-color: #808080;}
.Feature4_100 {width: 100%; background-color: #808080;}